[mysqld]
innodb_buffer_pool_size = 512M
innodb_log_file_size = 64M
innodb_log_files_in_group = 2
max_connections = 100
max_allowed_packet = 64M
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# No resolver DNS de los clientes (los contenedores llegan por IP)
skip-name-resolve
skip-symbolic-links
local-infile = 0

[client]
default-character-set = utf8mb4
